@media (max-width: 1500px){
  img{
    width: 50%;
    object-fit: cover;
  }
}

@media (max-width: 1250px){
  img{
    width: 40%;
  }
}

@media (max-width: 1050px){
  .panel{
    flex-direction: column;
    height: auto;
  }
  img{
    object-fit: cover;
    object-position: top;
    height: 100%;
  }
  .description{
    margin: 0;
    margin-top: 30px;
  }
}

/* @media (max-width: 950px){
  img{
    width: 30%;
  }
} */

@media (max-width: 1050px){
  .description{
    height: auto;
    flex-direction: column-reverse;
  }
  img{
    display: none;
  }
}

@media (max-width: 650px){
  body{
    font-size: 0.9em;
  }
  .info-nav{
    width: auto;
  }
  .description{
    margin: 30px -30px;
    width: calc(100% + 60px);
  }
  li a{
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 450px){
  .nav-container{
    margin-top: 30px;
  }
  .info h2{
    font-size: 2.5em;
  }
  body{
    font-size: 0.9em;
  }
  .panel{
    margin-bottom: 50px;
  }
}
