*{
  margin: 0;
  padding: 0;
  color: var(--light-grey);
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
:root {
  --dark-grey: #131313;
  --light-grey: #E9E9E9;
  --medium-grey: #353535;
}

body{
  background: var(--dark-grey);
  transition-duration: 0.3s;
}

.panel{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.h2{
  font-weight: 400;
}
.info h2{
  font-weight: 300;
  font-size: 3em;
}
.info p{
  margin-top: 3px;
  padding-left: 2.5px;
}
.intro{
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info-nav .description{
  width: 100%;
}

.nav-container{
  margin-top: 50px;
}

.nav-container li{
  position: relative;
  right: 5px;
  padding: 7px 0;
  padding-left: 10px;
  font-weight: 300;
  list-style: none;
  font-size: 1.75em;
}

.nav-link:after {
  position: absolute;
  content: '';
  height: 2px;
  bottom: -4px;
  width: 50%;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);

  /* optional animation */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.nav-link:hover:after {
  width: 70%;
  background: var(--light-grey);
}

.description{
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
  background: url('pics/dark-bg.jpg');
  width: 42%;
  font-weight: 400;
  font-size: 1.25em;
  letter-spacing: 0.2px;
}
.description .text{
  padding: 40px;
  /* background: var(--light-grey); */
}
.description p{
  /* color: var(--dark-grey) !important */
}
.panel-title{
  font-size: 2em;
}
.python #title-0{
  background: #13293D;
}
.python #title-1{
  background: #18415a;
}
.python #title-2{
  background: #1c5471;
}
.python #title-3{
  background: #206889;
}
.python #title-4{
  background: #247ba0;
}
.topcs{
  height: 100%;
}
.topic-description{
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  position: absolute;
  padding: 10px 100px;
  font-size: 1.25em;
  transition-duration: 0.3s;
}
.topic-description p{
  margin-bottom: 5px;
}
.topic-link{
  text-align: center;
  margin-bottom: 20px;
  text-decoration: underline;
  color: #B0B0B0;
}
.python{
  /* height: 70vh !important; */
}
#python-panel{
  scroll-margin-top: 50px;
}
#django-panel{
  scroll-margin-top: 50px;
}
.project-title{
  height: 15%;
  width: 27vw;
  padding: 20px;
  margin-right: 1.5vw;
  padding-right: 2vw;
  font-weight: 300;
  transition-duration: 0.3s;
}
.project-title:hover{
  width: 28.5vw;
  margin-right: 0vw;
}
.skills{
  display: flex;
  justify-content: center;
}
.topic-description .skills span{
  padding: 10px 15px;
  border-radius: 15px;
  margin: 5px;
  color: white;
  background: #345995;
}
.topic-description .main{
  font-weight: 500;
  font-size: 1.75em;
  margin-bottom: 30px;
}
.django{
  /* height: 70vh !important; */
  margin-top: 20vh;
  flex-direction: row-reverse;
}
.django .project-title{
  color: var(--dark-grey);
}
.django #title-0{
  background: #adb9e3;
}
.django #title-1{
  background: #c0c8da;
}
.django #title-2{
  background: #d6d9cf;
}
.django #title-3{
  background: #e7e6c7;
}
.django #title-4{
  background: #FCF6BD;
}
.topic-info-reversed{
  left: 0;
  width: 71.5vw;
}
.project-title-reversed{
  margin-left: 1.5vw;
  margin-right: 0;
}
.project-title-reversed:hover{
  margin-right: 0vw;
  margin-left: 0;
}
