* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
nav{
  display: none;
}
html{
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: black;
  color: white;
  font-family: monospace;
}
html::-webkit-scrollbar {
  display: none;
}
.fa-arrow-up{
  font-size: 22px;
  color: #358DFF;
}
.btn-circle{
  z-index: 228;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-top: 20px;
  margin-left: 70px;
  bottom: 50px;
  opacity: 0;
  right: -60px;
  position: fixed;
  width: 40px;
  height: 40px;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 25px 3px rgba(65,154,255,1);
  transition: border-color 0.2s, right 0.2s, opacity 0.2s, box-shadow .8s ease-out;
  transition-delay: 0.4s;
}
.btn-circle:hover{
  transition-delay: 0s;
  transition-duration: 0.1s;
  box-shadow: 0px 0px 15px 2px rgba(65,154,255,1);
}
.btn-circle-appear {
  transition-delay: 0s;
  border-color: #358DFF;
  opacity: 1;
  right: 30px;
  box-shadow: 0px 0px 0px 0px rgba(65,154,255,1);
}
.sign-letter{
  font-size: 30px;
  /* font-family: monospace; */
  width: 0px;
  letter-spacing: 0px;
  transition-duration: 0.5s;
}
.sign-letter-disappear{
  opacity: 0;
  letter-spacing: -16px;
  transition-delay: 0.2s;
}
header{
  height: 50px;
  z-index: 9;
  backdrop-filter: blur(5px) saturate(180%);
  background: #121212d9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  transition-duration: 0.3s;
}
.shorter{
  height: 35px;
}
.header-mail-link{
  font-weight: 700;
  letter-spacing: 1px;
  /* text-align: right; */
  color: white;
  font-size: 0.8em;
  /* position: fixed; */
  text-transform: uppercase;
}
.who{
  padding: 100px;
  padding-top: 170px;
  box-sizing: border-box;
  min-height: 100vh;
  align-items: center;
  background: linear-gradient(180deg, rgba(0,28,52,1) 20%, rgba(0,0,0,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.who .skills{
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  padding-top: 120px;
}
.skill{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 3px solid white;
  background-color: inherit;
  animation: floating 1.6s forwards;
  animation-delay: 0.2s;
  transform: translate(55px,  0);
}
.skill i, .skill img{
  height: 36px;
  font-size: 36px;
}
#skill-html{
  color: #FF2551;
  border-color: #FF2551;
}
#skill-css{
  color: #FFA836;
  border-color: #FFA836;
}
#skill-js{
  color: #f7df1e;
  border-color: #f7df1e;
}
#skill-python{
  color: #5ED447;
  border-color: #5ED447;
}
#skill-api{
  color: #92FFFC;
  border-color: #92FFFC;
}
#skill-sql{
  color: #2C6FE4;
  border-color: #2C6FE4;
}
#skill-react{
  color: #E977FF;
  border-color: #E977FF;
}

@keyframes floating {
    0% { transform: translate(55px,  0); }
    100%   { transform: translate(0, 0px); }
}
#you{
  font-weight: 400 !important;
  color: white;
}
.who h1{
  font-weight: 300;
  height: 50px;
  font-size: 2.5em;
  width: 600px;
}
.who p{
  width: 600px;
  margin-top: 30px;
  font-weight: 300;
  font-size: 1.5em;
}
.who span{
  color: white;
  transition-duration: 1.5s;
  transition-property: color;
}
.who a{
  color: white;
  font-size: 1.5em;
  position: absolute;
  bottom: 50px;
  padding: 10px;
  animation-delay: 2s;
  animation: arrow 4s infinite ease-in-out;
  transition: 0.5s ease-in;
}
.who a:active{
  color: red;
}
@keyframes arrow{
  0% {transform: scale(1)}
  50% {transform: scale(1.2)}
  100% {transform: scale(1)}
}
.nav-center {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
 }
.nav-right {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  align-items: center;
 }
/* ul{
  display: flex;
  justify-content: center;
  align-items: center;
} */
li{
  margin-top: 10px;
  font-size: 20px;
  /* padding: 30px 0; */
  margin: 0 30px;
  list-style: none;
}
li > a {
  letter-spacing: 4px;
  text-transform: uppercase;
  position: relative;
  color: #fff;
  text-decoration: none;
}

li > a:hover {
  color: #fff;
}
li > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
.front-end{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* height: 110vh; */
  background: linear-gradient(45deg, rgba(0, 20, 20, 1) 0%, rgba(18,18,18,1) 100%);
  background: rgba(0, 20, 20, 1);
  padding-top: 50px;
}
.front-end h2{
  display: inline;
  width: auto;
  margin-left: 40px;
  margin-right: 30px;
  font-size: 3em;
  font-weight: 100;
  /* border-bottom: 1px solid #00C6E5; */
}
.projects{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin: 30px; */
  margin-right: 10px;
  margin-top: 30px;
}
.border-wrap {
  position: relative;
  margin: 10px;
  width: 380px;
  min-height: 320px;
  box-sizing: border-box;
  border-radius: 20px;
  transition-duration: 0.2s;
}
#border-wrap-1:hover #project-1,
#border-wrap-2:hover #project-2,
#border-wrap-3:hover #project-3{
  transform: scale(0.98);
}
#border-wrap-1{
  background: linear-gradient(45deg, #50E8FF, #E0FF77);
}
#border-wrap-2{
  background: linear-gradient(45deg, rgba(243,255,106,1) 0%, rgba(255,43,84,1) 100%);
}
#border-wrap-3{
  background: linear-gradient(45deg, rgba(106,255,127,1) 0%, rgba(255,61,252,1) 100%);
}
.project{
  z-index: -1;
  transform: scale(1.01);
  box-sizing: border-box;
  padding: 30px 40px;
  height: 100%;
  width: 100%;
  border-radius: 19px;
  background-color: #1B1B1B;
  transition-duration: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.project-link{
  /* background: #ffffff; */
  display: flex;
  align-items: flex-end;
}
.project-link a{
  color: #575757;
  margin: 0 auto;
  border-bottom: 1px solid #575757;
}
.project h3{
  font-weight: 300;
  font-size: 2em;
}
.project p{
  font-size: 1.2em;
  margin-top: 15px;
  font-weight: 300;
}
/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#back-end{
  scroll-margin-top: -60px;
}
.back-end-h3{
  margin-top: 100px;
  /* padding: 5px; */
  box-sizing: border-box;
  width: 100vw;
  overflow: hidden;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  font-size: 2em;
  font-weight: 100;
  /* border-bottom: 1px solid #00C6E5; */
}
.back-end{
  overflow: hidden;
  margin-top: -18px;
  /* background: linear-gradient(-45deg, rgba(50,50,50,1) 0%, rgba(70,45,95,1) 100%); */
  background-color: rgba(70,45,95,1);
  padding-left: 120px;
}
.carousel {
  padding: 20px 0;
  /* height: 396px; */
}
.carousel-cell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  color: black;
  overflow: hidden;
  width: calc(100vw - 340px);
  height: 420px;
  margin: 0 10px;
  background: #181818;
  counter-increment: carousel-cell;
}
.cell-content{
  padding: 30px;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
}
.cell-left{
  /* border: 1px solid black; */
  width: 70%;
  height: 100%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
.caption{
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 30px;
}
.description{
  height: 100%;
  font-size: 2em;
  font-weight: 300;
}
.cell-right{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  width: 30%;
}
.cell-content .skills{
  margin-top: 25%;
  display: flex;
  text-align: right;
  /* display: block; */
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 50px;
  height: 50px;
  padding-right: 30px;
  columns: 1;
  width: 100%;
  height: 100%;
}
.skills li{
  padding: 0;
  margin: 0;
  /* display: block; */
}
.carousel .project-link{
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 20%;
}
.carousel:focus {
  outline: none;
}
#cell-1{background-color: #B3C0FF;}
#cell-2{background-color: #648de5;}
#cell-3{background-color: #a390ec;
  margin-right: 140px;}
#cell-4{background-color: #d6eeff;}
/* #cell-5{background-color: #a390ec;} */
#cell-2 a, #cell-3 a{
  color: #393939;
  border-color: #393939;
}
.about-inner{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 50px;
  z-index: 2;
}
.about li{
  transition: all 0.3s ease 200ms;
}
.about a{
  color: white;
  font-size: 2em;
}
.about ul{
  box-sizing: border-box;
  padding: 80px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.about-middle{
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-right{
}
.about ul{
  width: 100px;
  position: relative;
  columns: 1;
  z-index: 3;
}
.about li{
  padding: 10px 5px;
  margin: 0;
}

/* .container {
  position: relative;
}

.container > .circle {
  position: relative;
  top: 38px;
  left: 130px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transform: scale(1);
  transition: all 0.7s ease 200ms;
  background: linear-gradient(45deg, rgba(255,181,181,1) 20%, rgba(0,156,213,1) 50%, rgba(24,28,84,1) 90%);
  opacity: 1;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
}
.big-circle {
  opacity: 1 !important;
  transform: scale(55) !important;
} */

#mail-link {
  padding: 10px;
  font-weight: 400;
  letter-spacing: 2px;
  left: 0%;
  text-align: center;
  position: relative;
  background-image: linear-gradient(-45deg, rgba(255,169,169,1) 10%, rgba(66,205,255,1) 100%);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  transition: all 0.7s ease 200ms;
}
.about{
  position: absolute;
  height: 100vh;
  width: 100%;
  /* z-index: 0;
  background: linear-gradient(45deg, rgba(255,181,181,1) 20%, rgba(0,156,213,1) 50%, rgba(24,28,84,1) 90%);
  clip-path: circle(10% at 50% 50%);
  transition: all 0.7s ease 0.2s; */
}
.circle-animation{
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 0;
  /* background: linear-gradient(45deg, rgba(255,181,181,1) 20%, rgba(0,156,213,1) 50%, rgba(24,28,84,1) 90%); */
  clip-path: circle(0% at 50% 50%);
  transition: all 0.9s ease 0s;
}
.active{
  opacity: 1;
  clip-path: circle(100%);
}
